<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>node</key>
	<dict>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>40</integer>
	</dict>
	<key>standard</key>
	<dict>
		<key>width</key>
		<integer>50</integer>
		<key>height</key>
		<integer>50</integer>
	</dict>
	<key>tiny</key>
	<dict>
		<key>width</key>
		<integer>10</integer>
		<key>height</key>
		<integer>10</integer>
	</dict>
	<key>small</key>
	<dict>
		<key>width</key>
		<integer>20</integer>
		<key>height</key>
		<integer>20</integer>
	</dict>
	<key>big</key>
	<dict>
		<key>width</key>
		<integer>100</integer>
		<key>height</key>
		<integer>100</integer>
	</dict>
</dict>
</plist>
