<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Desert</string>
	<string>Oceanic</string>
	<string>Toxic</string>
	<string>Continental</string>
	<string>Frozen</string>
	<string>Volcanic</string>
</array>
</plist>
